<div id="users_personal">
	<div id="num">
		<p class="p1">Message Number</p>
		<p class="p2"><%= @messagenum %></p>
	</div>
	<div id="num">
		<p class="p1">Comment Number</p>
		<p class="p2"><%= @commentnum %></p>
	</div>
</div>
